body {
    color: #5a5a5a;
    background-color: #eee;
}

.row {
    max-width: 1110px;
    margin: auto;
}

.bar {
    background-color: rgb(190, 190, 190);
    padding: 10px;
}


    .bar .login {
        text-align: right;
    }

        .bar .login a {
            color: #5a5a5a;
            font-weight: 800;
        }

/* nav */
.navbar {
    /* padding: 20px; */
    background-color: #eee;
    border-bottom: solid 2px #16a085;
}

.navbar-brand {
    background: url("../images/logo.png") no-repeat;
    object-fit: contain;
    display: block;
    width: 250px;
    height: 90px;
    text-indent: -9999px; /* hides the link text */
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}



.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited {
    color: #16a085;
    font-size: 1.3em;
    /*border-bottom: 2px solid white;*/
}



.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #13816b;
    font-size: 1.3em;
    border-bottom: 2px solid #16a085;
    /* border-bottom: 2px solid white; */
}


.navbar-light .navbar-nav .active .nav-link:link,
.navbar-light .navbar-nav .active .nav-link:visited,
.navbar-light .navbar-nav .active .nav-link:hover,
.navbar-light .navbar-nav .active .nav-link:active {
    color: #13816b;
    border-bottom: solid 1px #5a5a5a00;
}



section {
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: rgba(22, 160, 133, 0.5) solid 3px;
}

/* slider */
.slider {
    /* height: 100px; */
}



h2 {
    margin-top: 20px;
    /*margin-left: 50px;*/
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

    h2::after {
        display: block;
        content: "";
        width: 75%;
        height: 2px;
        background-color: #16a085;
        margin: auto;
        /* margin-top: 10px; */
    }

.category {
    padding: 20px;
    width: 100%;
}

    .category:nth-child(2n) {
        background-color: #ebebeb;
    }

    .category:nth-child(2n+1) {
        background-color: #d9d9d9;
    }

    .category p{
        margin-bottom: 0px;
    }

.search_form {
    background-color: #f3f3f3;
}

    .search_form a {
        margin-top: 10px;
        margin-left: auto;
    }

.form-check {
    padding-bottom: 5px;
}

.search_form a:link,
.search_form a:visited {
    display: inline-block;
    padding: 5px 40px;
    color: #000;
    background-color: rgba(22, 160, 133, 0);
    border: 2px solid #16a085;
}

div.form-horizontal {
    vertical-align: top;
    display: inline-block;
    padding-inline-end: 0.5vw;
    padding-inline-start: 0.5vw;
    border-right: #5a5a5a;
    border-right: inset;
}

input {
    float: right;
    width: 7vw;
    font-size: 1.2rem;
    font-weight: 600;
    color: #5a5a5a;
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    .admin-edit select,
    textarea {
        border: solid 2px #16a085;
        padding-left: 5px;
        font: 400 13.3333px Arial;
        text-rendering: auto;
        float: none;
        width: 15vw;
        height: 5vh;
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
    }
        .admin-edit select{
            margin-top: 10px;
            width: 200px;
        }



        .btn {
            display: inline-block;
            font-weight: 700;
            width: 15vw;
            color: #13816b;
            text-align: center;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            border: 2px solid #16a085;
        }

    .btn:hover,
    .btn-full {
        background-color: rgba(22, 160, 133, 1);
        color: white;
    }


    .recommended h3 {
        padding-top: 50px;
        padding-right: 10px;
        color: white;
        /* transform: translate(0, -50%); */
    }

.game_photo {
    min-width: 100%;
    height: 120px;
    background-size: cover;
}

.photo_cover {
    background-color: rgba(2, 2, 2, 0.6);
    height: 100%;
}

.recommended tr,
td,
table {
    width: 100%;
}
    .table-dark td, .table-dark th{
        vertical-align:middle;
    }

    .recommended tr:nth-child(2n) {
        background-color: #333333;
        color: white;
    }

    .recommended tr:nth-child(2n+1) {
        background-color: #dddddd;
    }

    .recommended tr:nth-child(n+2) td {
        padding-top: 7px;
        padding-bottom: 7px;
    }

        .recommended tr:nth-child(n+2) td:nth-child(1) {
            padding-left: 10px;
            font-weight: 600;
            text-align: left;
        }

        .recommended tr:nth-child(n+2) td:nth-child(2) {
            padding-right: 10px;
            text-align: right;
        }

.recommended_panel {
    background-color: #b9b9b9;
    padding: 3px;
    text-align: right;
}


.more {
    font-size: 0.9em;
}

    .more a:link,
    .more a:visited {
        color: #0b6652;
        padding: 5px;
        display: inline-block;
    }

/* rate */
.rate {
    background-color: #f3f3f3;
}

blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
    color: #0f836a;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    position: relative;
    margin-top: 35px;
}

cite {
    margin-top: 25px;
    display: block;
    color: #0f836a;
}

    cite img {
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: middle;
    }

/* footer  */

footer {
    background-color: #333333;
    padding: 30px 10px;
}

    footer a {
        color: #ddd;
        padding: 0 10px;
    }

        footer a:hover {
            color: #aaa;
        }

@media(max-width: 600px) {
    .search_form {
        display: none;
    }

    .recommended_panel {
        margin-bottom: 20px;
    }
}


/* products */
/* category */

.product:nth-child(2n) {
    background-color: #ebebeb;
}

.product:nth-child(2n+1) {
    background-color: #d9d9d9;
}

.category_list {
    font-weight: bolder;
}

.products_list img {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
    max-width: 130px;
    max-height: 140px;
}

    .products_list table {
        width: unset!important;
    }


    .products_list .product {
        padding: 20px;
    }

/* .products_list h3 {
    text-shadow: 2px 2px 2px #13816b
} */

.products_list td {
    padding: 5px 15px;
}

.products_list .price,
.products_list .day {
    color: #0f836a;
}

.products_list .price_title {
    font-size: 150%;
}

.products_list .price {
    font-size: 200%;
}

.products_list .price_box {
    text-align: center;
    margin-top: 15px;
}

.products_list a:link,
.products_list a:visited {
    color: #0f836a;
    font-weight: bold;
}

.products_list a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #13816b
}

/* paginator */
.products_list .pagination {
    background-color: #535353;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    margin: 0;
}
.admin .pagination {
    background-color: #535353;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    margin: 0;
}
/* game-attributes */
.game-attributes img {
    max-width: 100%;
}


.game-attributes tr,
.game-attributes table {
    width: 100%;
}

.game-attributes td {
    width: 50%;
}

.game-attributes tr:nth-child(2n) {
    background-color: #ececec;
}

.game-attributes tr:nth-child(2n+1) {
    background-color: #f3f3f3;
}

.game-attributes td {
    padding-top: 7px;
    padding-bottom: 7px;
}

    .game-attributes td:nth-child(1) {
        padding-left: 40px;
        font-weight: 600;
        text-align: left;
    }

    .game-attributes td:nth-child(2) {
        padding-left: 40px;
        text-align: left;
    }

.game-attributes .rental {
    margin-top: 30px;
}

/* LOGIN */
.login_register {
    /* text-align: right; */
}

.img-bg {
    background-image: url("../images/computer.jpg");
    text-align: right;
    /* padding-right: 100px; */
}

.login_register input {
    width: 50%;
}

.login_register label,
.register label {
    padding-right: 10px;
    color: #fff;
}

.login_register h2,
.register h2 {
    color: #ffffff;
}

.alert {
    padding: 0px 0px;
    font-size: 90%;
    color: #e62222;
    font-weight: bold;
    margin-bottom: 0px;
}

.alert-success {
    padding: 0px 0px;
    font-size: 90%;
    color: #0f836a;
    font-weight: bold;
    margin-bottom: 0px;
    background-color: unset;
    border-color: unset;
}

.alert-input {
    border: solid 2px #e62222;
}

.panel-left {
    padding-right: 150px;
}

p.create-account {
    color: #ffffff;
    text-align: center;
    padding: 30px 50px;
}

/* SECTION ADMIN */

.admin .btn-full {
    margin-right: auto;
    margin-left: 0;
}

.admin table a {
    color: #ffffff;
    text-decoration: underline;
}
.admin table{
    margin-bottom: 0px;
}

.admin .page-link {
    color: #0f836a;
}

/* SUMMARY */

.card {
    text-align: center;
}

    .card img {
        width: 20%;
        margin-bottom: 10px;
    }

.summary tr,
.summary table {
    width: 100%;
}

.summary td {
    width: 50%;
}

.summary tr:nth-child(2n) {
    background-color: #ececec;
}

.summary tr:nth-child(2n+1) {
    background-color: #f3f3f3;
}

.summary td {
    padding-top: 7px;
    padding-bottom: 7px;
}

    .summary td:nth-child(1) {
        padding-left: 40px;
        font-weight: 600;
        text-align: left;
    }

    .summary td:nth-child(2) {
        padding-left: 40px;
        text-align: left;
    }

.available,
.inaccessible {
    font-weight: 900;
}

.available {
    color: #0ea80e;
}

.inaccessible {
    color: #e00808;
}

/* REGISTER */
.img-bg-register {
    text-align: center;
    /* padding-right: 100px; */
}

.register form {
    display: inline-block;
    text-align: right;
    width: 80%;
}

    .register form input {
        /*margin-top: 10px;*/
        width: 55%;
        margin-right:10px;
    }

    .register form label {
        width: 40%;
        padding-right: 10px;
        color: #fff;
    }

.register .btn {
    /* width: 100%; */
}

/* ACCOUNT section */
.account p.user-data {
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.signature {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: rgba(22, 160, 133, 1);
    font-style: italic;
}


/* ACCOUNT-EDIT section */

.img-bg-register {
    text-align: center;
    /* padding-right: 100px; */
}

.account-edit form,
.admin-edit form {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    width: 50%;
    transform: translate(-50px, 0);
}



    .account-edit form input,
    .admin-edit form input {
        margin-top: 10px;
        /* width: 60%; */
        width: 200px;
    }

    .account-edit form label,
    .admin-edit form label {
        /* width: 40%; */
        width: 100px;
        padding-right: 5px;
    }

    .account-edit form .form-input,
    .admin-edit form .form-input {
        text-align: right;
        display: inline-block;
    }


.admin-edit textarea {
    width: 200px;
    height: 60px;
    margin-top: 10px;
}

select.edit-select {
    width: 200px;
    margin-top: 10px;
}

.carousel-item {
    max-height: 350px;
}
.label-delete {
    font-size: larger;
    font-weight: 600;
    width: unset!important;
    text-align: center!important;
}
.label-delete-desc {
    width: unset !important;
    text-align: center !important;
}