@model BoardGamesRentalApplication.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username" })
        <br />
        @Html.Password("Password", "", new { @placeholder = "Password" })
        <br />
        <button type="submit">Login</button>
    </div>
}
