
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel Admina</h2>
<p>
    @Html.ActionLink("Zarządzanie grami", "BoardGamesCollection", "BoardGamesCollection")
    <br/>
    @Html.ActionLink("Zarządzanie kategoriami", "Index", "Category")
</p>
